<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>proxy-checker</title>
  <link rel="stylesheet" href="/assets/pico.amber.css">
  <link rel="stylesheet" href="/assets/styles.css">
</head>

<body class="container">
<header>
  <nav>
    <ul>
      <li><strong>proxy-checker</strong></li>
      <li><a href="/sources">sources</a></li>
      <li><a href="/proxies">proxies</a></li>
      <li><a href="/auth/logout">logout</a></li>
    </ul>
  </nav>
</header>

<main>
  {% block content -%}
  {%- endblock %}
</main>

<footer>v{{ config.app_version }}</footer>
</body>
</html>
